* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #c181fa;
    display: flex;
    padding: 0;
    border: 0;
}

.sidebar {
    margin: 0;
    width: 25%;
    height: 100vh;
    background-color: #a566ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    border: 0;
    padding: 0;
    width: 75%;
    height: 100vh;
    
    
    display: flex;
    flex-direction: column;
    
    align-items: center;

    position: relative;

}

.naslov {
    padding-top: 30px;
    height: 20%;
}

.slike-kontejner{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.slike{

    width: 30%;
    height: auto;
    
}

.slike img{

    width: 90%;
    height: auto;
}